//! footer
footer {
  margin-top: 10rem;
  bottom: 0;
  background-color: #557b25;
  color: white;
  font-weight: 200;

  // * {
  //   margin: 0;
  //   cursor: default;
  // }

  .contents {
    height: fit-content;
    // margin: auto 20%;
    text-align: center;
    padding: 0 var(--horizontal-margin);
  }

  .sub-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
      margin: 0 3rem;
      width: 100%;

      svg {
        height: 75px;
        width: 75px;
      }
    }

    .v-separator {
      height: 8rem;
      width: 1px;
      background-color: #d3d3d3;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #d3d3d3;
    }
  }

  #benefits {
    padding: 3rem 0;
  }

  #helps {
    flex-direction: column;
    padding: 2rem 0;

    .details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      h3 {
        cursor: pointer;
        transition: 0.1s;

        &:hover {
          filter: brightness(60%);
        }
      }

      .v-separator {
        height: 3rem;
        width: 1px;
        background-color: #d3d3d3;
      }
    }
  }

  #about {
    flex-direction: column;
    padding: 2rem 0;

    .container {
      display: flex;
      width: 100%;
      justify-content: center;

      .details {
        width: 100%;

        h3 {
          margin-top: 1rem;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 1px;
            width: 3rem;
            background-color: #d3d3d3;
          }
        }

        h4 {
          margin: 1rem 0;
          cursor: pointer;
          transition: 0.1s;

          &:hover {
            filter: brightness(60%);
          }
        }
      }
    }

    &::after {
      content: none;
    }
  }

  .copyright {
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: #253610;
    display: flex;
    justify-content: center;
    align-items: center;

    // p:last-child {
    //   margin-left: 1rem;
    //   color: var(--clr-main);
    //   text-decoration: none;
    //   cursor: pointer;
    // }
  }
}

// ! MOBILE VERSION
@media screen and (max-width: 568px) {
  footer {
    #about {
      .container {
        flex-direction: column;
      }
    }
  }
}
