//! footer
footer {
  margin-top: 10rem;
  bottom: 0;
  background-color: #557b25;
  color: white;
  font-weight: 200;

  * {
    margin: 0;
    cursor: default;
  }

  .contents {
    height: fit-content;
    margin: auto 20%;
  }

  .sub-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
      margin: 0 3rem;
      width: 100%;

      svg {
        height: 75px;
        width: 75px;
      }
    }

    .v-separator {
      height: 8rem;
      width: 1px;
      background-color: #d3d3d3;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #d3d3d3;
    }
  }

  #benefits {
    padding: 3rem 0;
  }

  #helps {
    flex-direction: column;
    padding: 2rem 0;

    .details {
      display: flex;
      align-items: center;

      h3 {
        margin: 1rem 4rem;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
          filter: brightness(60%);
        }
      }

      .v-separator {
        height: 3rem;
        width: 1px;
        background-color: #d3d3d3;
      }
    }
  }

  #about {
    flex-direction: column;
    padding: 2rem 0;

    .container {
      display: flex;

      .details {
        text-align: left;
        width: 100%;
        margin: 0 4rem auto 4rem;

        h3 {
          margin-top: 1rem;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 1px;
            width: 3rem;
            background-color: #d3d3d3;
          }
        }

        h4 {
          margin: 1rem 0;
          cursor: pointer;
          transition: 0.1s;

          &:hover {
            filter: brightness(60%);
          }
        }
      }
    }

    &::after {
      content: none;
    }
  }

  .copyright {
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: #253610;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
