.big-items {
  // border: 3px solid pink;
  // background-color: yellow;
  // padding: 0.75rem;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // border-radius: 8px;

  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

  margin-top: 0.5rem;
}

// ! MOBILE VERSION
@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 860px) {
}

@media screen and (max-width: 800px) {
  .big-items .big-item {
    &:nth-child(3) {
      display: none;
    }
  }
}
